{% extends 'header.html'%}


{%block content%}


<div class="userhome">
    <div class="row" style="width: 60%;margin-left:20%;">
        <h1>About Us</h1>
       <p>
        Visualize sentiment trends over time, and take your understanding one step further with our proprietary natural language processing. Appbot's natural language processing surfaces bug reports, feature requests, complaints and more, automatically. Understand how changes you're making are affecting your star ratings, and take a data driven approach to your product roadmap.

        Spot issues before they affect your star rating and arm your support team with the information they need to effectively prioritize replies to the right users. Appbot's monitoring tools also make it simple to send app reviews to the tools your team lives in, like Slack or Zendesk.
       </p>
       <hr>
       <h1>Contact Us</h1>
       <p>Office Address:38/45 AZ,India</p>
       <p>Phone: 012-32323-32-3233</p>
    </div>
</div>


{%endblock%}