
   
    {% extends 'header.html' %}

    {% block content %}
    <style>
      
    
    </style>
    <hr>
    
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
	<center>
  <h3 style="color:red;">  {{ message | safe }}<h3>
  </center>
</div>
{% endfor %}
   <div class="login">
       <div class="inlogin">
           <h1>Password Reset</h1>
           <br>
           <form action='resetps' method="POST">
           {%csrf_token%}
            <input type="text" placeholder="Enter email to recover" name="email"><br>
          
           <input type="submit" value="Reset" ><br>
       </form>
      
       <br>
      
       </div>
   </div>


    {% endblock %} 




