{% extends 'header.html'%}


{%block content%}


<div class="login" style="height: 550px;">

    <div class="inlogin" style="height: 500px;">

        <h1>Welcome to Register</h1>

        <form action="updatep" method="POST">
            {% csrf_token %}
        <input type="text" name="name" placeholder="Enter Your Name" value="{{data.name}}" required="">
        <br>
        <input type="text" name="mob" placeholder="Enter Your Mobile No" value="{{data.mob}}" >
        <br>
        <input type="email" name="email" placeholder="Enter Your Email" required="" value="{{data.email}}" disabled="">
        <br>
        <input type="text" name="city" placeholder="Enter Your City" value="{{data.city}}" >
        <br>
        <input type="password" name="pass" placeholder="Enter Your Password" required="" value="{{data.password}}" >
        <br>
     
        <input type="submit"  value="Update">
    </form>
        <br>
        {% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
	<center>
  <h3 style="color:red;">  {{ message | safe }}<h3>
  </center>
</div>
{% endfor %}
    </div>

</div>


{%endblock%}